body {
  margin-top: 60px;
  background-color: rgb(193, 151, 210);
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* Base font sizes */
h1 {
  color: white;
  font-size: 50px;
}

p {
  color: black;
  font-size: 20px; 
  padding: 15px;
}

a {
  font-size: 20px; 
  padding: 15px;
  color: white;
}

/*Navigation style*/ 
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  top: 0;
  position: fixed;
  left: 0;
  width: 100%;
  overflow: hidden;
  background-color: #211522;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #D3B1C2;
}


@media (min-width: 768px) { /* Medium screen size */
  h1 {
    font-size: 80px; 
  }

  p, a {
    font-size: 30px; 
  }
}

@media (min-width: 1024px) { /* Large screen size */
  h1 {
    font-size: 100px;
  }

  p, a {
    font-size: 40px; 
  }
}
